/*
====================================
[ CSS TABLE CONTENT ]
------------------------------------
    1.0 - General
    2.0 - Typography
    3.0 - Global Style
    4.0 - Navigation
    5.0 - Search Box
    6.0 - Page Title Section
    7.0 - Slider Section
    8.0 - Creative Section
    9.0 - Recent Project Section
    9.1 - Overlay and hover effect
    10.0 - Magnific Popup CSS
    11.0 - Feature Section
    12.0 - About Section
    13.0 - Counter Section
    14.0 - Team Section
    15.0 - Video Section
    16.0 - Service Section
    17.0 - Process Section
    18.0 - Portfolio Section
    19.0 - Portfolio Single Page
    20.0 - Partner Section
    21.0 - Case study section
    22.0 - Map Section
    23.0 - Contact Section
    24.0 - Footer Section
    25.0 - Preloader
    26.0 - Homepage Two
    27.0 - Homepage Three
    28.0 - About us Page
    29.0 - About us page two
    30.0 - Blog Page
    31.0 - Blog Page Version Two
    32.0 - Full Width Section
    33.0 - Call to action section
    34.0 - Client Testimonial Style
    35.0 - Parallax Homepage
    36.0 - Contact Page
    37.0 - 404 page
    38.0 - Flex slider customization
	39.0 - Owl slider customization
	40.0 - Slick slider customization
-------------------------------------
[ END CSS TABLE CONTENT ]
=====================================
*/

/* =============================================
            	Theme Reset Style
============================================= */
/* @import url('https://fonts.googleapis.com/css2?family=Cardo&family=Great+Vibes&family=Hind&family=Josefin+Sans:wght@300;400;600&family=Jost:wght@300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("../css/bootstrap.min.css");
@import url("../css/icofont.min.css");
@import url("../css/custom-icons.min.css");
@import url("../css/transitions.css");
@import url("../css/flexslider.css");
@import url("../css/bootsnav.css");
@import url("../css/owl.carousel.css");
@import url("../css/slick.css");
@import url("../css/animate.css");
@import url("../css/swiper.min.css");

@font-face {
  font-family: Collingar;
  src: url("../fonts/collingar-collingar-400.otf") format("opentype");
}


::selection {
    background-color: #1e1e1e;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
	min-height:0;
	min-width:0;
}
*, :after, :before {
    box-sizing: border-box;
}
html,
body {
    position: relative;
    height: 100%;
}
body {
    color: #888;
    background: #1e1e1e;
    font-size:15px;
    font-family: 'Prompt', sans-serif;
    cursor: url('../images/cursor.png'), auto;
}

/* Estilo del cursor personalizado para el cuerpo o contenedor principal */
.custom-cursor {
  cursor: url('../images/cursor.png'), auto;
}
.custom-cursor a{
  cursor: url('../images/cursor.png'), auto;
}
.swiper-button-prev , .swiper-button-next {
  cursor: url('../images/cursor.png'), auto;
}
#back-to-top {
  cursor: url('../images/cursor.png'), auto;
}


.wrapper {
	position: relative;
    z-index: 20;
    overflow-x: hidden;
}
.mdi{
	font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.hind-font{font-family: 'Hind', sans-serif;}
.cardo-font{font-family: 'Cardo', serif!important;}
.great-font{font-family: 'Great Vibes', cursive;}
.josefin-font{font-family: 'Josefin Sans', sans-serif;}

nav.navbar.bootsnav ul.nav > li > a:hover {
  color: #FA4319;
}

.attr-nav > ul > li > a{
  color: #eae3da;
  display: block;
  padding: 20px 15px;
  position: relative;
 
}


.attr-nav > ul > li > a:hover{
  text-decoration: none;
  color: #FA4319;
}
a:hover, a:focus, a:active {
    outline: none;
    text-decoration: none;
    color: #FA4319;
}
ul {
  list-style: disc;
}
li > ul,
li > ol {
  padding: 0;
  margin-left: 15px;
}
figure {
    margin-bottom: 6px;
    position: relative;
}
img {
    height: auto;
    max-width: 100%;
}
.mark, mark{background-color:#d42e22;color:#fff;}

pre {
	margin: 0 20px;
    padding: 10px;
    border: 1px solid #e2e2e2;
    background: #f1f1f1;
	border-radius:0;
}

blockquote {
    border-left: 5px solid #d42e22;
	background:#fff;
}

.blockquote-reverse, blockquote.pull-right {
    border-right: 5px solid #d42e22;
	background:#fff;
}

.outline-alert {
    background-color: transparent!important;
}

strong { color: #414141; }
hr{border:0;height: 2px;width:80px;margin:20px auto;}
hr.left-line{margin:20px 0 20px 0;}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: none;
    box-shadow: none;
    outline: 0 none;
}


section {
	padding-top:120px;
	/* padding-bottom:120px; */
	position: relative;
	z-index: 10;
	background:#1E1E1E;
}

#quehacemos {
  padding-bottom:120px;
}
#portfolio-all {
  padding-bottom:120px;
}

.section-heading {
	text-align: center;
    margin: auto;
    float: none;
    padding-bottom: 20px;
    width: 50%;
}

.welcome-text {
  font-family: 'Prompt';
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  line-height: 1.2;

}

@media (max-width: 950px) {
  .section-heading {
      padding-bottom: 1rem;
      width: 70%;
  }

  .welcome-text {
    font-size: 18px;
  }
}

.section-heading h2 {
  font-family: 'Collingar', sans-serif;
  color: #EAE3DA;
	font-weight: 700;
  margin-bottom: 25px;
  font-size: 50px;
}

.quehacemos-titleprincipal { 
  /* border: solid #EAE3DA 1px; 
  border-radius: 10px;*/
  padding-bottom:10px;
}


.quehacemos .quehacemos-title {
  font-family: 'Collingar', sans-serif;
  color: #EAE3DA;
	font-weight: 300;
  margin-bottom: 1.7rem;
	font-size:25px;
  letter-spacing: 2px;
}

.quehacemos .quehacemos-text {
  font-family: 'Prompt', sans-serif;
  color: #EAE3DA;
	font-weight: 200;
  /* margin-bottom: 25px; */
	font-size:15px;
  /* letter-spacing: 2px; */
}

.quehacemos .quehacemos-img {
  width: 113px;
}

.section-heading h4 {
	color:#f44336;
	font-size:18px;
  letter-spacing: 5px;
}



.info-counter{
  display: flex;
  justify-content: flex-start;
  margin: 0 0 25px;
}

.info-counter p{
  font-size: 16px;
  line-height: 25px;
  margin: 20px 0 0;
}

.circle-progress-wrap{
  position: relative;
  margin: 0 30px 0 0;
  height: 96px;
  width: 130px;
}

.info-desc{
  margin: 0 0 37px;
}

.pie-title-center {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 96px;
  height: 96px;
}

.pie-value {
  display: block;
  position: absolute;
  font-size: 14px;
  height: 40px;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -20px;
  line-height: 40px;
}

.center-layout {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  position: relative;
}
.v-align-middle {
  display: table-cell;
  vertical-align: middle;
}

.about-img{
  position: relative;
}

.about-img img{
  border-radius: 30px 30px 30px 30px;
}

.about-img:after{
  content: '';
  position: absolute;
  top: -20px;
  left: 20px;
  width: 555px;
  height: 680px;
  background: linear-gradient(145deg, #ffc3a0, #ffafbd);
  background: -webkit-linear-gradient(145deg, #ffc3a0, #ffafbd);
  z-index: -1;
  border-radius: 57% 43% 65% 35% / 56% 38% 62% 44%;
  -webkit-border-radius: 57% 43% 65% 35% / 56% 38% 62% 44%;
  -moz-border-radius: 57% 43% 65% 35% / 56% 38% 62% 44%;
  -o-border-radius: 57% 43% 65% 35% / 56% 38% 62% 44%;
  filter: blur(100px);
  -webkit-filter: blur(100px);
  -moz-filter: blur(100px);
  -o-filter: blur(100px);
  -ms-filter: blur(100px);
}

/*=============================================
              		Header
=============================================*/

.navbar-nav {
  float: right;
  margin: 0;
  padding: 0 10px;
}


nav.navbar.bootsnav.navbar-transparent .logo {
position: relative;
  z-index: 110;
display: table;
  height: 80px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.logo {
  position: relative;
  z-index: 110;
  display: table;
  height: 60px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.logo img {
  max-height: 50px;
-webkit-transition: all .5s ease;
  transition: all .5s ease;
  display: block;
}

nav .logo > a {
display: table-cell;
  vertical-align: middle;
}

.navbar-scrollspy .logo img {
text-align:center;
margin: 0 auto;
}

nav.bootsnav.navbar-sidebar ul.nav {
margin: 0 0 30px 0;
}
/*=============================================
			Sliders and Hero Section
=============================================*/

.container1 {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.hero { 
  grid-area: 1 / 1 / 4 / 5; 
  background:#1E1E1E;}

.pink { 
  grid-area: 1 / 2 / 4 / 5; }

.orange { 
  grid-area: 3 / 4 / 4 / 5; 
  width: 80%;
  display: flex;
  justify-content: flex-end;
}
  

.blue { 
  grid-area: 2 / 1 / 4 / 2; 
  width: 80%; 
}

.hero-title { 
  grid-area: 2 / 2 / 3 / 4; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
  z-index: 4;
}

  .hero-title h1 {
    font-family: Collingar;
    font-size: 150px;
    color: #eae3da;

  }

  .hero-title p {
    font-size: 30px;
    color: #eae3da;
  }


/*hero mediaquerys*/

/* Pantallas pequeñas */
@media (max-width: 576px) {
  .container1 {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
  }
  .hero { grid-area: 1 / 1 / 3 / 3; }
  .pink { grid-area: 1 / 1 / 3 / 3; }
  .blue { grid-area: 1 / 1 / 3 / 2; }
  .orange { grid-area: 2 / 2 / 3 / 3; }
  .hero-title { grid-area: 2 / 1 / 3 / 3; }

  .hero-title h1 {
    font-family: Collingar;
    font-size: 50px;
    color: #eae3da;
  }

  .hero-title p {
    font-size: 15px;
    color: #eae3da;
  }
}

/* Tablets en orientación horizontal y pantallas medianas */
@media (min-width: 577px) and (max-width: 991px) {

  .container1 {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
  }
  
  .hero { 
    grid-area: 1 / 1 / 4 / 5; 
    background:#1E1E1E;}
  
  .pink { 
    grid-area: 1 / 2 / 4 / 5; }
  
  .orange { 
    grid-area: 3 / 4 / 4 / 5; 
    width: 80%;
  }
    
  .blue { 
    grid-area: 2 / 1 / 4 / 2; 
    width: 80%; 
  }
  
  .hero-title { 
    grid-area: 2 / 2 / 3 / 4; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
  }

  .hero-title h1 { 
    font-size: 100px;
  }

  .hero-title p { 
    font-size: 20px;
  }
  
}

/* Pantallas grandes */
@media (min-width: 992px) and (max-width: 1199px) {

  .container1 {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
  }
  
  .hero { 
    grid-area: 1 / 1 / 4 / 5; 
    background:#1E1E1E;}
  
  .pink { 
    grid-area: 1 / 2 / 4 / 5; }
  
  .orange { 
    grid-area: 3 / 4 / 4 / 5; 
    width: 80%;
  }
    
  
  .blue { 
    grid-area: 2 / 1 / 4 / 2; 
    width: 80%; 
  }
  
  .hero-title { 
    grid-area: 2 / 2 / 3 / 4; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
  }

}

/* Pantallas extra grandes (por ejemplo, monitores amplios) */
@media (min-width: 1200px) {
 
}

.dark-bg{background-color:#1e1e1e;}
.white-bg{background-color: #fff;}
.default-bg{background-color:#FA4319;}

/*=============================================
                TICKER
=============================================*/

/* * {
  box-sizing: border-box;
}
body {
  padding-bottom: 4.5rem;
  background: #fefefe;
  color: #14181c;
  margin: 0;
} */

.ticker-wrap {
  width: 100%;
  /* height: 80px; */
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  bottom: 0;
  height: 6rem;
  background-color: #FA4319; 
}
.ticker {
  display: inline-block;
  margin-top: 1.5rem;
  animation: marquee 80s linear infinite;
}
.item-collection-1 {
  position: relative;
  left: 0%;
  animation: swap 80s linear infinite;
}

.item {
  display: inline-block;
  padding: 0 1rem;
  font-size: 2rem;
  color: white;   
  font-family: Collingar;  /* font-weight: 200;
  font-family: sans-serif; */
}

/* Transition */
@keyframes marquee {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-100%)
  }
}

@keyframes swap {
  0%, 50% {
    left: 0%;
  }
  50.01%,
  100% {
    left: 100%;
  }
}


/*=============================================
                Widgets
=============================================*/

.mt-0 {margin-top: 0px!important;}
.mt-10 {margin-top: 10px;}
.mt-15 {margin-top: 15px;}
.mt-20 {margin-top: 20px;}
.mt-30 {margin-top: 30px;}
.mt-40 {margin-top: 40px;}
.mt-50 {margin-top: 50px;}
.mt-60 {margin-top: 60px;}
.mt-70 {margin-top: 70px;}
.mt-80 {margin-top: 80px;}
.mt-90 {margin-top: 90px;}
.mt-100 {margin-top: 100px!important;}
.mt-110 {margin-top: 110px;}
.mt-120 {margin-top: 120px;}
.mt-130 {margin-top: 130px;}
.mt-135 {margin-top: 135px;}
.mt-140 {margin-top: 140px;}
.mt-150 {margin-top: 150px!important;}
.ml-10 {margin-left: 10px;}
.ml-15 {margin-left: 15px;}
.ml-20 {margin-left: 20px;}
.ml-30 {margin-left: 30px;}
.ml-40 {margin-left: 40px;}
.ml-50 {margin-left: 50px;}
.ml-60 {margin-left: 60px;}
.ml-70 {margin-left: 70px;}
.ml-80 {margin-left: 80px;}
.mb-0 {margin-bottom: 0px!important;}
.mb-5 {margin-bottom: 5px;}
.mb-10 {margin-bottom: 10px;}
.mb-20 {margin-bottom: 20px;}
.mb-30 {margin-bottom: 30px;}
.mb-40 {margin-bottom: 40px;}
.mb-50 {margin-bottom: 50px;}
.mb-60 {margin-bottom: 60px;}
.mb-70 {margin-bottom: 70px;}
.mb-80 {margin-bottom: 80px;}
.mb-90 {margin-bottom: 90px;}
.mb-100 {margin-bottom: 100px;}
.mb-110 {margin-bottom: 110px;}
.mb-120 {margin-bottom: 120px;}
.mr-0 {margin-right: 0px!important;}
.mr-5 {margin-right: 5px;}
.mr-10 {margin-right: 10px;}
.mr-20 {margin-right: 20px;}
.mr-30 {margin-right: 30px;}
.mr-40 {margin-right: 40px;}
.mr-50 {margin-right: 50px;}
.mr-60 {margin-right: 60px;}
.mr-70 {margin-right: 70px;}
.mr-80 {margin-right: 80px;}
.mr-90{margin-right: 90px;}
.mr-100{margin-right: 100px;}
.mr-110{margin-right: 110px;}
.mr-120{margin-right: 120px;}

.p-0 {padding: 0!important;}
.pt-0 {padding-top: 0!important;}
.pt-10 {padding-top: 10px;}
.pt-20 {padding-top: 20px;}
.pt-30 {padding-top: 30px;}
.pt-40 {padding-top: 40px;}
.pt-50 {padding-top: 50px;}
.pt-60 {padding-top: 60px;}
.pt-70 {padding-top: 70px;}
.pt-80 {padding-top: 80px;}
.pt-90 {padding-top: 90px;}
.pt-100 {padding-top: 100px;}
.pt-110 {padding-top: 110px;}
.pt-120 {padding-top: 120px;}
.pt-130 {padding-top: 130px;}
.pt-140 {padding-top: 140px;}
.pt-150 {padding-top: 150px;}
.pb-0 {padding-bottom: 0;}
.pb-10 {padding-bottom: 10px;}
.pb-20 {padding-bottom: 20px;}
.pb-30 {padding-bottom: 30px;}
.pb-40 {padding-bottom: 40px;}
.pb-50 {padding-bottom: 50px;}
.pb-60 {padding-bottom: 60px;}
.pb-70 {padding-bottom: 70px;}
.pb-80 {padding-bottom: 80px!important;}
.pb-90 {padding-bottom: 90px;}
.pb-100 {padding-bottom: 100px;}
.pb-110 {padding-bottom: 110px;}
.pb-120 {padding-bottom: 120px;}
.pl-0 {padding-left: 0;}
.pl-10 {padding-left: 10px;}
.pl-20 {padding-left: 20px;}
.pl-30 {padding-left: 30px;}
.pl-40 {padding-left: 40px;}
.pl-50 {padding-left: 50px;}
.pl-60 {padding-left: 60px;}
.pl-70 {padding-left: 70px;}
.pl-80 {padding-left: 80px!important;}
.pl-90 {padding-left: 90px;}
.pl-100 {padding-left: 100px;}
.pl-110 {padding-left: 110px;}
.pl-120 {padding-left: 120px;}
.pr-0 {padding-right: 0;}
.pr-10 {padding-right: 10px;}
.pr-20 {padding-right: 20px;}
.pr-30 {padding-right: 30px;}
.pr-40 {padding-right: 40px;}
.pr-50 {padding-right: 50px;}
.pr-60 {padding-right: 60px;}
.pr-70 {padding-right: 70px;}
.pr-80 {padding-right: 80px!important;}
.pr-90 {padding-right: 90px;}
.pr-100 {padding-right: 100px;}
.pr-110 {padding-right: 110px;}
.pr-120 {padding-right: 120px;}



.btn,
.form-control,
.form-control:hover,
.form-control:focus,
.navbar-custom .dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown {
  margin-right: 1rem;
}

.btn-circle {
	border-radius:25px;
  justify-content: right;
}

.btn-rounded {
	border-radius:4px;
}

.btn-square {
	border-radius:0px;
}

button:focus {
    outline: none !important;
}

.btn {
    padding: 0 30px;
    height: 48px;
    line-height: 46px;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-weight: 400;
    font-family: 'Prompt', sans-serif;
    letter-spacing: 1px;

}

.btn + .btn {
    margin-left: 10px;
}

.btn:focus, .btn:focus:active {
    outline: none;
}

.btn-color {
    color: #fff;
    border-color: #FA4319;
    background-color: #FA4319;
}

.btn-color:hover, .btn-color:active, .btn-color:focus {
    background-color: #FA4319;
    border-color: #FA4319;
    color: #fff;
}

.btn-red {
    color: #fff;
    border-color: #f44336;
    background-color: #f44336;
}

.btn-red:hover, .btn-red:active, .btn-red:focus {
    background-color: #FA4319;
    border-color: #FA4319;
    color: #fff;
}



.btn.btn-xs, .btn.btn-group-xs {
    padding: 0 16px;
    font-size: 10px;
    height: 30px;
    line-height: 30px;
}

.btn.btn-sm, .btn.btn-group-sm {
    padding: 0 22px;
    font-size: 10px;
    height: 35px;
    line-height: 34px;
}

.btn.btn-lg, .btn.btn-group-lg {
    padding: 0px 32px;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 400;
    height: 60px;
    line-height: 60px;
}

.btn-outline {
    color: #d42e22;
    border-color: #d42e22;
    background-color: transparent;
}

.btn-outline:hover, .btn-outline:active, .btn-outline:focus {
    color: #fff;
    border-color: #d42e22;
    background-color: #d42e22;
}

.btn-white {
    color: #212121;
    border-color: #fff;
    background-color: #fff;
}

.btn-white:hover, .btn-white:active, .btn-white:focus {
    color: #fff;
    border-color: #fff;
    background-color: transparent;
}

.btn-outline-white {
    color: #fff;
    border-color: #fff;
    background-color: transparent;
}

.btn-outline-white:hover, .btn-outline-white:active, .btn-outline-white:focus {
    color: #212121;
    border-color: #fff;
    background-color: #fff;
}

.btn-outline-blue {
    color: #d42e22;
    border-color: #d42e22;
    background-color: transparent;
}

.btn-outline-blue:hover, .btn-outline-blue:active, .btn-outline-blue:focus {
    color: #fff;
    border-color: #d42e22;
    background-color: #d42e22;
}

.btn-dark {
    color: #fff;
    border-color: #212121;
    background-color: #212121;
}

.btn-dark:hover, .btn-dark:active, .btn-dark:focus {
    color: #212121;
    border-color: #fff;
    background-color: #fff;
}


.btn-dark-outline {
    color: #212121;
    border-color: #212121;
    background-color: transparent;
}

.btn-dark-outline:hover, .btn-dark-outline:active, .btn-dark-outline:focus {
    color: #fff;
    border-color: #212121;
    background-color: #212121;
}


.btn-pink {
    color: #fff;
    border-color: #E91E63;
    background-color: #E91E63;
}

.btn-pink:hover, .btn-pink:active, .btn-pink:focus {
    color: #fff;
    border-color: #C2185B;
    background-color: #C2185B;
}

.btn-animate {
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: all 0.2s;
}
.btn-animate  span {
  display: inline-block;
  position: relative;
  padding: 0 8.5px 0 8.5px;
  transition: padding 0.2s;
}
.btn-animate i {
  position: absolute;
  top: 50%;
  right: 0px;
  opacity: 0;
  margin-top: -6px;
  transition: opacity 0.2s, right 0.2s;
}
.btn-animate:hover span {
  padding: 0 17px 0 0;
}
.btn-animate:hover i {
  transition: opacity 0.2s, right 0.2s;
  opacity: 1;
  top: 50%;
  right: 0;
}

.service-style-one .feature-box{
  border-radius: 30px 30px 30px 30px;
  box-shadow: 38px 45px 93px -10px rgb(0 0 0 / 5%);
  -webkit-transition: background .3s,border .3s,border-radius .3s,-webkit-box-shadow .3s;
  transition: background .3s,border .3s,border-radius .3s,-webkit-box-shadow .3s;
  -o-transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
  transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
  transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-box-shadow .3s;
  padding: 50px 50px 50px 50px;
  background-color: #fff;
}

.service-style-one .feature-box:hover{
  background-color: #fff;
  box-shadow: 25px 25px 81px 0px rgb(95 63 176 / 20%);
}

.default-icon {
	color: #d42e22;
}

.dark-icon {
	color: #212121;
}

.light-icon {
	color: #f1f1f1;
}

.red-icon {
	color: #f44336;
}

.yellow-icon {
	color: #FDD835;
}

.brown-icon {
	color: #D09E88;
}

.blue-bg-icon {
    background-color: #0072ff;
    border-color: #0072ff;
}

.yellow-bg-icon {
    background-color: #F7971E;
    border-color: #F7971E;
}

.yellow-bg-icon:hover {
    background-color: #F7971E;
    border-color: #F7971E;
	color: #fff;
}

.yellow-bg-icon-inr {
    background-color: #fff;
    border-color: #fff;
}

.yellow-bg-icon-inr:hover {
    background-color: #212121;
    border-color: #212121;
	color:#fff;
}

.pink-bg-icon {
    background-color: #c31432;
    border-color: #c31432;
}


.green-bg-icon {
    background-color: #1D9A6C;
    border-color: #1D9A6C;
}

.gray-bg-icon {
    background-color: #f1f1f1;
    border-color: #f1f1f1;
}

.gray-bg-icon:hover {
    background-color: #d42e22;
    border-color: #d42e22;
	color:#fff;
}

.white-bg-icon {
    background-color: #fff;
    border-color: #fff;
}

.white-bg-icon:hover {
    background:#d42e22;
    border-color: #d42e22;
	  color:#fff;
}


/*  CAJITAS DE QUE HACEMOS TIENEN ESTAS CLASES*/

.feature-box .pull-left {
    width: 15%;
}

.feature-box .pull-right {
    width: 80%;
}

.feature-box-right .pull-left {
    width: 80%;
}

.feature-box-right .pull-right {
    width: 15%;
}




/*=============================================
                        Counter
=============================================*/

.counter h2{
    margin:15px 0 20px;
    font-size:60px;
    line-height:50px;
    text-align: center;
}
.counter h3{
    margin:0;
    font-size:16px;
    line-height:18px;
    text-align: center;
  	color:#f1f1f1;
  	letter-spacing: 1px;
    text-transform: uppercase;
}

@media (max-width: 1199px) {
    ul#portfolio-grid.five-column>li{
        width: 25%;
    }
}

@media (max-width: 991px) {
    ul#portfolio-grid.five-column>li,
    ul#portfolio-grid.four-column>li{
        width: 33.33%;
    }
}
@media (max-width:810px){
  .mt-md-0 {
    margin-top: 0px;
  }
  .pb-md-50{
    padding-bottom: 50px;
  }
  .about-img{
    margin-top: 50px;
  }
  .scoda-swiper.pagination-style-01 .swiper-pagination {
    right: 0!important;
    top: auto!important;
    bottom: 58px!important;
  }
}
@media (max-width: 767px) {
    ul#portfolio-grid.five-column>li,
    ul#portfolio-grid.four-column>li,
    ul#portfolio-grid.three-column>li{
        width: 50%;
    }
}
@media (max-width: 480px) {
    ul#portfolio-grid.five-column>li,
    ul#portfolio-grid.four-column>li,
    ul#portfolio-grid.three-column>li,
    ul#portfolio-grid.two-column>li{
        width: 100%;
    }
    .mt-sm-0 {
      margin-top: 0px;
    }
    .pb-sm-50{
      padding-bottom: 50px;
    }
    .circle-progress-wrap{
      margin: 0 80px 0 0;
    }
    .info-counter p{
      margin: 0px 0 0;
    }
    .about-img{
      margin-top: 50px;
    }
    .section-heading h2{
      font-size: 30px;
    }
    .section-heading h4{
      font-size: 15px;
    }

    .work-item-wrap .work-item-info h3{
      font-size: 14px!important;
    }
    .work-item-wrap .work-item-info p{
      font-size: 12px!important;
    }
    .scoda-swiper.pagination-style-01 .swiper-pagination{
      right: 0!important;
      top: auto!important;
      bottom: 10px!important;
    }
    .scoda-swiper.pagination-style-01 .swiper-pagination-bullet{
      width: 25px!important;
      height: 25px!important;
    }
    .testimonial-carousel .testimonial-item .name{
      font-size: 18px!important;
    }
    .testimonial-carousel .testimonial-item .position{
      font-size: 11px!important;
    }
}





.work-item-wrap {
    position: relative;
}

.work-item-wrap .work-item-info {
    position: absolute;
    bottom: 30px;
    text-align: left;
    left: 30px;
    background-color: #fff;
    padding: 20px 30px;
}

.work-item-wrap .work-item-info h3 {
    font-size: 15px;
}

.work-item-wrap .work-item-info p {
    font-size: 16px;
}

.work-item-wrap .work-item-thumbnail img {
    /* border-radius: 15px; */
}


.work-item-wrap .work-item-info{
  border-radius: 15px;
  background-color: rgba(0,0,0,.87);
  right: 30px;
}

.work-item-wrap .work-item-info h3, .work-item-wrap .work-item-info p{
  color: #EAE3DA;
}

.portfolio-right .project-detail-box {
	margin-top:10px;
}

.portfolio-right .project-detail-box li strong {
    min-width: 110px;
    display: inline-block;
}

.portfolio-right .project-detail-box li {
	line-height:30px;
	list-style: none;
}

.portfolio-right .project-detail-box li a {
	color:#888;
}

.portfolio-right .project-detail-box li a:hover {
	color:#FA4319;
}

.project-type-list {
	margin-top:30px;
}

.project-type-list li {
    padding: 10px 0;
    border-bottom: 1px solid #FA4319;
    font-weight: 300;
    font-size: 14px;
	list-style: none;
}
.project-type-list li i {
    margin-right: 10px;
}


/* 8.1 Owl carousel */



.owl-controls .owl-pagination{
  text-align: center;
}

.owl-controls .owl-page{
  display: inline-block;
  margin:0 4px;
}

.blog-slider .owl-controls .owl-page span{
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  -moz-transition: .2s linear;
  transition: .2s linear;
  background:#e8e8e8;
}

.blog-slider .owl-controls .owl-page.active span,
.blog-slider .owl-controls .owl-page:hover span{
  background-color:#212121;
}

.blog-slider .owl-controls {
	margin-top:50px;
}


.blog-grid-slider .owl-buttons .owl-prev i, .blog-grid-slider .owl-buttons .owl-next i{color:#fff;}

/*=============================================
                  Theme Feature
=============================================*/

.theme-feature i.fa {
    color: #fff;
    border-radius: 50%;
    font-size: 35px;
    background: #ff4452;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    margin-bottom: 20px;
}
.theme-feature h4{
	color: #ff4452;
	font-family: 'Inconsolata', monospace;
	margin-bottom:20px;
	font-size: 20px;
}

/*=============================================
                        Our Blog
=============================================*/
.blog-slider .post {
    margin: 20px 0;
    padding: 0 10px;
}



.post-info {
    padding: 40px;
    background: #212121;
    transition: all 0.2s ease;
}
.post:hover .post-img img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.post .post-img {
  overflow: hidden;
  position: relative;
  z-index: 10;
}
.post .post-img img {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 0;
  -webkit-backface-visibility: hidden;
}

.post-info h3 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom:0px;
    line-height: 1.5;
}
.post-info h6 {
   color: #d42e22;
   font-size:14px;
}

.post-info a {
    color:#fff;
}

.post-info a:hover {
    color:#d42e22;
}

.post-info p {
	margin-top: 20px;
	color: #fff;
}

a.readmore {
    letter-spacing: 2px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}

a:hover.readmore {
    color: #d42e22;
}

a.readmore > span {
    display: inline-block;
    vertical-align: middle;
}

.blog-grid-slider .owl-prev, .portfolio-slider .owl-prev,
.blog-grid-slider .owl-next, .portfolio-slider .owl-next{
  position: absolute;
  top: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  /* background-color: rgba(23, 23, 23, 0.5); */
  border-radius: 100%;
  text-align: center;
  margin-top: -15px;
}

.blog-grid-slider .owl-prev, .portfolio-slider .owl-prev{
  left: 20px;
}

.blog-grid-slider .owl-next, .portfolio-slider .owl-next {
  right: 20px;
}

.blog-grid-slider .owl-prev .fa, .portfolio-slider .owl-prev .fa
.blog-grid-slider .owl-next .fa, .portfolio-slider .owl-next .fa{
  color: #1E1E1E !important;
}

.blog-grid-slider .owl-prev:hover, .portfolio-slider .owl-prev:hover,
.blog-grid-slider .owl-next:hover, .portfolio-slider .owl-next:hover{
  background-color:#d42e22;
}

.blog-grid-slider .owl-prev:hover .fa, .portfolio-slider .owl-prev:hover .fa,
.blog-grid-slider .owl-next:hover .fa, .portfolio-slider .owl-next:hover .fa{
  color: #1E1E1E !important;
}

.blog-grid-video .video-alpha .video-play {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    border: 0;
    border-radius: 100%;
    color: #212121;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    z-index: 300;
}
.blog-grid-video .video-alpha .video-play:hover {
    color: #fff;
    background-color: #d42e22;
}
.blog-grid-video .video-alpha .video-play i.fa-play {
    margin-left: 5px;
}



.widget{
  margin-bottom: 30px;
}

.widget-title{
  position: relative;
  margin-bottom: 45px;
}

.widget-title:before{
    content: '';
    position: absolute;
    top: 100%;
    margin-top: 10px;
    left: 0;
    width: 40px;
    border-top: 1px solid #e8e8e8;
}

.widget-about-title{
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 0;
}

/* 10.5 Widget Search */



.search-form {
  position: relative;
}


.search-field {
  border-color: #e9e9e9!important;
  background:#fff;
}

.search-field:focus {
	border-color: #d42e22!important;
}

/* Widget Categories */



.widget_categories ul li:first-child, .widget_archive ul li:first-child {
  margin-top: 0;
}

.widget_categories ul li, .widget_archive ul li{
  margin-top: 20px;
  line-height: 25px;
  list-style: none;
}

.widget_categories ul li a, .widget_archive ul li a{
  color: #888;
  font-weight:100;
}

.widget_categories ul li a:hover, .widget_archive ul li a:hover{
  color:#d42e22;
  text-decoration: none;
}

/* Widget Tags */

.post-tags a{
    display: inline-block;
    padding: 5px 11px;
    margin: 0 5px 15px 0;
    border: 1px solid #fff;
    font-size: 14px;
    font-weight: 300;
    color: #888;
	background:#fff;
}

.post-tags a:hover{
  background: #d42e22;
  border: 1px solid #d42e22;
  color:#fff;
  text-decoration: none;
}


.pagination {
    display: block;
    margin: 80px auto 0 auto;
    text-align: center;
}

.pagination>li {
    display: inline-block;
	margin-right:5px;
}

.pagination>li>a, .pagination>li>span {
    float: left;
    padding: 8px 15px;
    color: #d42e22;
    background-color: #fff;
    border: 1px solid #eee;
	border-radius: 100%;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    padding: 8px 16px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color: #fff;
    background-color: #d42e22;
    border-color: #d42e22;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
	color: #fff;
    background-color: #d42e22;
    border-color: #d42e22;
}

.blog-standard {
	margin-top:20px;
}

.blog-standard blockquote{
  margin:40px 0;
  background-color: #f6f6f6;
  padding: 30px;
  position: relative;
  border-left-color:#d42e22;
  font-size: inherit;
  line-height: 1.7;
  color: #888;
}

.post-controls{
  margin-top: 30px;
  overflow: hidden;
}

.post-share li{
  display: inline-block;
  padding-right: 10px;
  margin:0;
}

.post-controls .post-share{
  float: left;
}

.post-controls .comments-info{
  float: right;
}

.post-controls .post-share li a {
	color:#fefefe;
}

.post-controls .post-share li a:hover {
	color:#FA4319;
}



/* 10.3 Comments */



.comments-info a{
  color: #212121;
}

.comments-info a:hover{
  color: #FA4319;
  text-decoration: none;
}

.comment-respond{
  margin-top: 70px;
}

.comment-reply-title{
  font-size: 19px;
  margin-bottom: 20px;
}

.blog-masonry-item {
    margin-bottom: 50px;
}

/*=============================================
                        Footer
=============================================*/

.footer-copyright {
  margin-top: 4rem;
}

@media only screen and (min-width: 992px) {
  #footer-fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}

.footer{
  font-size:16px;
}

.footer-main{
  padding:60px 0 60px;
  background-color: #1e1e1e;
  position: relative;
}

.footer-main:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-image: url(../images/map-bg.png);
    background-size: contain;
    opacity: .8;
}

.footer .widget-title{
    position: relative;
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #fff;
	letter-spacing: 1px;
    font-weight: 700;
    font-family: 'Hind', sans-serif;
    float: left;
    width: 100%;
}

.footer .widget-text p {color:#fff;margin-top: 24px;}

.footer .widget-title:before{
  content:'';
  position: absolute;
  top:100%;
  margin-top: 10px;
  left: 0;
  width: 40px;
  border-top: 2px solid #d42e22;
}

.footer .widget-links{
  font-size: 16px;
  font-family: 'Hind', sans-serif;
  float: left;
  width: 100%;
}

.footer .widget-links li{
  margin-bottom: 14px;
  list-style:none;
}

.footer .widget-links li i {
	color:#fff;
	padding-right: 10px;
}

.footer .widget-links a{
  color: #fff;
}

.footer .widget-links a:hover{
  color:#d42e22;
  text-decoration: none;
}

.footer-copyright{
   padding: 30px 0;
   background-color: #1e1e1e;
   border-top: solid 1px #bbb}

.copy-right{margin-top:5px;color:text-right;}

.footer-copyright ul.social-media{
  float:left;
  display:block;
  margin-bottom:0;
  margin-top: 5px;
}

.footer-copyright ul.social-media li {
	display:inline-block;
	margin-right: 17px;
}

.footer-copyright ul.social-media li:last-child {
	margin-right:0;
}

.footer-copyright ul.social-media li a{
  font-size: 20px;
  display: inline-block;
  color: #eae3da;
}

.footer-copyright ul.social-media li a:hover{
  color: #FA4319;
}




.flat-footer ul.social-media{
  float:none;
  display:block;
  margin-bottom:0;
  margin-top: 5px;
}

.flat-footer ul.social-media li {
	display:inline-block;
	margin-right: 17px;
}

.flat-footer ul.social-media li:last-child {
	margin-right:0;
}

.flat-footer ul.social-media li a{
  font-size: 20px;
  display: inline-block;
  color: #fff;
}

.flat-footer ul.social-media li a:hover{
  color: #d42e22;
}

ul.footer-gallery {margin:0;}

ul.footer-gallery li {
    display: inline-block;
    width: 24%;
    padding: 0 2px 0px 0;
    margin-bottom: 5px;
}
ul.footer-gallery li img {
    max-width: 100%;
    width: 100%;
}

.footer-gallery-box {
    position: relative;
    overflow: hidden;
}

.footer-gallery-box .skin-overlay {
    background-color: rgba(30, 192, 255, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}
.footer-gallery-box:hover .skin-overlay{
    opacity: 1;
}
.footer-gallery-box .zoom-wrap {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer-gallery-zoom {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
}

.footer-gallery-zoom li {
    position: relative;
    bottom: -40px;
    opacity: 0;
    visibility: hidden;
    transform: translateZ(0);
}

.footer-gallery-box:hover .footer-gallery-zoom li{
	bottom: 0;
    opacity: 1;
    visibility: visible;
	-webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.footer-gallery-zoom li a {
	color:#fff;
}

.footer-gallery-zoom li a:hover, .footer-gallery-zoom li a:focus {
	color:#212121;
}

.logo-footer {
	height: 34px;
    margin-bottom: 15px;
}

.contact-widget.widget ul li {
  padding-left: 25px;
  position: relative;
}
.contact-widget.widget ul li i {
  position: absolute;
  left: 0;
  top: 1px;
}

#contact .contact-box {
  border: solid #eae3da 1px;
  border-radius: 15px;
  background-color: #1E1E1E;
  margin: 5%;
  padding: 30px;
  /* padding-bottom: 150px;
  margin-bottom: 15px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

#contact .contact-box p span {
  font-weight: bold;
}

/*=============================================
                Contact Us Page
=============================================*/

.form-group {
    margin-bottom: 30px;
}
.form-control {
    height: 60px;
    padding: 20px 30px;
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
    color: #EAE3DA;
    background-color: #1E1E1E;
    border: 1px solid #eae3da;
    border-radius: 20px;
}
.form-control:focus {
    border-color: #FA4319;
}

.contact-us p, .contact-us address {
	font-size: 16px;
  line-height: 1.8;
}

.contact-us h3 {
	margin-top:0;
}

.search-submit{
  position: absolute;
  right: 20px;
  top:20px;
  background: none;
  border:0;
  padding: 0;
  font-size:20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color:#e0e0e0;
}

.search-submit:hover{
  color: #FA4319;
}

/*=============================================
                Google Maps
=============================================*/

.map-section {
	position:relative;
}

.map-parallax {
	position: fixed;
    width: 100%;
    height: 45%;
    z-index: -3;
}
#myMap, #myMapTwo {
    min-height: 500px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

#myMap.wide, #myMapTwo.wide {
    height: 500px;
    width: 100%;
    position: relative!important;
}

#mapcontent p{
    margin: 0;
    font-size: 16px;
}



/*=============================================
                Go Top
=============================================*/

#back-to-top {
    position: fixed;
    bottom: 75px;
    right: 40px;
    z-index: 999;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background: #FA4319;
    color: #EAE3DA;
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    text-decoration: none;
    opacity: 0;
	box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.05);
	font-size:14px;
}
#back-to-top:hover {
    background: #1E1E1E;
	color:#EAE3DA;
}
#back-to-top.show {
    opacity: 1;
}

.slider-bg {
	border: 0;
    margin: 0;
    height: 100vh;
    background-color: #222225;
}
.slider-bg .slides {
    height: 100%;
}

.slider-bg .slides > li {
    height: 100%;
}

.slider-bg .hero-text{
	display: table-cell;
    vertical-align: middle;
    position: relative;
    width: 100%;
    z-index: 10;
    color: #fff;
}
.slider-bg .hero-text P{
	line-height: 50px;
    font-size: 35px;
}

.slider-bg .hero-text h1 {
    font-size: 100px;
}

.slide-img, .parallax-img {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.full-screen-bg {
	height: 100vh;
  min-height: 100vh;
  position: relative;
}

.bottom-shape-img{
    bottom: -55px;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.bottom-shape-img-2{
    bottom: -51px;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.video-container video.fillWidth {
    width: 100%!important;
	margin-left: 0 !important;
}

.video-container .filter {display:none;}

.video-container video {
    position: absolute;
    top: 0%;
    left:0%;
    object-fit: cover;
    height: 100%!important;
    width: 100%!important;
}

.embed-container { position: relative; padding-bottom: 56.25%; overflow: hidden; max-width: 100%; height: auto; }
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.about-video {
	padding-bottom: 88.25%;
}
.about-video iframe {
	height:318px;
}

.arcon-video-box {
  position: relative;
  overflow: hidden;
}
.arcon-video-box:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.arcon-video-box:hover .arcon-video-box_overlay {
  background-color: rgba(0, 0, 0, 0.25);
}
.arcon-video-box:hover .arcon-video-box_overlay .play-button {
  color: #d42e22;
}
.arcon-video-box img {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border-radius: 5px;
}
.arcon-video-box_overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
  border-radius: 5px;
}
.play-button {
  cursor: pointer;
  width: 80px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  line-height: 76px;
  color: #fff;
  text-align: center;
  font-size: 50px;
  position: relative;
  z-index: 10;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.play-button i {
  line-height: inherit;
}
.play-button:hover {
  color: #d42e22;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.btn[data-play-button] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.btn[data-play-button]:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.video-alpha .video-play {
    position: absolute;
    top: 65%;
    left: 50%;
    margin-top: 0px;
    margin-left: -37px;
    width: 74px;
    height: 74px;
    font-size: 30px;
    line-height: 71px;
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 100%;
}
.video-alpha .video-play i.fa-play {
    margin-left: 5px;
}

.music-event .video-play{
    font-size:100px;
	color:#fff;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
	display:inline-block;
}

.music-event .video-play:hover{
	-webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}




.hero-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero-video video {
  position: absolute;
  max-width: none;
}

.about-me {
	margin-bottom:20px;
}

.about-me img {
	width:200px;
}

.about-us-bg{
  background:url(../images/about-us.jpg) center no-repeat;
  background-size: cover;
}

.startup-bg-left {
  background:url(../images/startup-bg-left.jpg) center no-repeat;
  background-size: cover;
}

.startup-bg-right {
  background:url(../images/travel-bg-right.jpg) center no-repeat;
  background-size: cover;
}

.travel-bg-left {
  background:url(../images/travel-bg-left.jpg) center no-repeat;
  background-size: cover;
}

.travel-bg-right {
  background:url(../images/travel-bg-right.jpg) center no-repeat;
  background-size: cover;
}

.gym-bg-left {
  background:url(../images/gym-bg-left.jpg) center no-repeat;
  background-size: cover;
}

.gym-bg-right {
  background:url(../images/gym-bg-right.jpg) center no-repeat;
  background-size: cover;
}

.barber-bg-left {
  background:url(../images/barber-bg-left.jpg) center no-repeat;
  background-size: cover;
}

.barber-bg-right {
  background:url(../images/barber-bg-right.jpg) center no-repeat;
  background-size: cover;
}

.archi-bg-left {
  background:url(../images/archi-bg-left.jpg) center no-repeat;
  background-size: cover;
}

.bg-flex.bg-flex-left {
    left: 0;
}

.bg-flex.bg-flex-right {
    right: 0;
}

.bg-flex{
  padding: 0;
  position: absolute!important;
  top: 0px;
  height: 100%;
  overflow: hidden;
  z-index: 100;
}

.bg-flex-holder {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.bg-flex-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.bg-flex-right{
  position: absolute;
  padding: 0;
  right:0;
  top:0;
  bottom: 0;
  overflow: hidden;
}


.col-about-right {
    padding-left: 60px;
}

.col-about-left {
    padding-right: 60px;
}

.row-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.row-flex:before {
  content: none;
}
.row-flex > [class*="col-"] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
@media only screen and (max-width: 767px) {
  .row-flex > [class*="col-"]:not([class*="col-xs"]) {
    width: 100%;
  }
}
.row-flex > [class*="col-"] .col-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: -15px;
  margin-right: -15px;
}

.col-inner.spacer {
    padding: 100px 50px;
}

.row-flex.flex-center > [class*="col-"] {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* @media only screen and (min-width: 768px) {
  .row-flex.full-width-flex > [class*="col-"] {
    padding-left: 6.5%;
    padding-right: 6.5%;
  }
} */
.row-flex.padding-row > [class*="col-"] {
  padding: 7.5% 6.5%;
}
.row-flex.flex-horizontal > [class*="col-"]:last-child {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.row-flex.flex-spacing .column-inner {
  margin-left: 0;
  margin-right: 0;
}




.social-networks {
  padding: 0;
  list-style: none;
  margin: 20px 0 20px 0;
}
.social-networks > li {
  display: inline-block;
  margin-right: 12px;
}
.social-networks > li > a {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 52px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #e8e8e8;
    color: #212121;
    border-radius: 100%;
}




.slick-slide {
    outline: none
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
/* .slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
} */

.slick-prev:before,
.slick-next:before {
    font-family: 'IcoFont';
    font-size: 35px;
    line-height: 1;
    opacity: .75;
    color: #212121;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '\ea5c';
}
[dir='rtl'] .slick-prev:before
{
    content: '\ea5d';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '\ea5d';
}
[dir='rtl'] .slick-next:before
{
    content: '\ea5c';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    display: inline-block;
    margin: 0 4px;
}

.testimonial .slick-dots li button {
    font-size: 0;
    width: 12px;
    height: 12px;
    padding: 0px;
    cursor: pointer;
    border: 0;
    outline: none;
    background: rgba(195, 195, 195, 0.5);
    border-radius: 100px;
}

.testimonial .slick-dots li.slick-active button {
    background-color: #d42e22;
}

.testimonial .slick-dots li button:hover,
.testimonial .slick-dots li button:focus
{
    outline: none;
}

.white-testi .slick-prev:before,
.white-testi .slick-next:before
{
    color: #fff;
}

.white-testi .slick-dots li.slick-active button{
	background-color:#fff;
}

/*=======================================================
      Client Logo
========================================================*/
.client-logo {
    margin: 0px 15px;
}

.client-logo img {
    margin: auto;
}

@media (max-width: 479px) {
  .client-logo {
    transform: scale(1.3);
}
}


/*=======================================================
      Title Hero Backgrounds
========================================================*/
.title-hero-bg {
    background-size: cover;
	background-repeat:no-repeat;
	background-position:center center;
    position: relative;
    min-height: 450px;
}
.title-hero-bg::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.title-error-bg, .title-cover-bg{
    background-size: cover;
	background-repeat:no-repeat;
	background-position:center center;
    position: relative;
    min-height: 1080px;
}
.title-error-bg::before, .title-cover-bg:before{
    content: "";
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.page-title {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    z-index: 15;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

.page-title h1 {
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}

/*=======================================================
      Login / Coming Soon / 404 Page
========================================================*/

.four-zero-four-bg{background-image: url(../images/background/404.gif);height: 550px;background-position: center;}
.four-zero-four-bg h1{font-size:100px;font-weight: 700;}
.content-box{ margin-top:-50px;}
.error-cover-bg h1, .coming-cover-bg h1 {
	font-size:120px!important;
	text-transform:uppercase;
}
.error-cover-bg h2, .coming-cover-bg h2 {
	font-size:60px;
	color:#d42e22;
	margin-top:50px;
	margin-bottom:50px;
}

.error-cover-bg p, .coming-cover-bg p {
	color:#fff;
	font-size:30px;
}

.login-cover-bg h1 {
	font-size:60px!important;
	text-transform:uppercase;
}
.login-cover-bg h2 {
	font-size:30px;
	color:#d42e22;
	margin-top:50px;
	margin-bottom:50px;
}

.login-cover-bg p {
	color:#fff;
}

.signup-box {
	max-width: 400px;
	width:100%;
	margin:0 auto;
	padding: 30px;
	background:#fff;
}

.v-align{
	vertical-align: middle;
	display: table-cell;
}

.v-align a {color:#d42e22;}
.v-align a:hover {color:#212121;}

.table-display {
	display:table;
	width:100%;
	height:100%;
	table-layout:fixed;
	position:relative;
}

#signup-tabs {
  border-bottom: 0;
  margin: 0;
}
#signup-tabs > li a {
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #888;
  border-radius: 0;
  border: 1px solid #fff;
}
#signup-tabs > li a:hover {
  background-color: #d42e22;
  border: 1px solid #d42e22;
  color:#fff;
}
#signup-tabs > li.active > a {
  background-color: #d42e22;
  border: 1px solid #d42e22;
  color:#fff;
}
#signup-content {
  padding: 40px 0;
}


/* ----------------------------------------
	Flex Slider
-------------------------------------------*/

.slide-img-static {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slider-bg-static {
	border: 0;
    margin: 0;
    height: 500px;
    background-color: #222225;
}

.slider-bg-static .slides {
    height: 100%;
}

.slider-bg-static .slides > li {
    height: 100%;
}


/* ----------------------------------------
	Owl Slider
-------------------------------------------*/

.owl-slider .owl-prev,
.owl-slider .owl-next{
  position: absolute;
  top: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background-color: #212121;
  border-radius: 100%;
  text-align: center;
  margin-top: -15px;
}

.owl-slider .owl-prev{
  left: 20px;
}

.owl-slider .owl-next {
  right: 20px;
}

.owl-slider .owl-prev .fa,
.owl-slider .owl-next .fa{
  color:#fff;
}

.owl-slider .owl-prev:hover,
.owl-slider .owl-next:hover{
  background-color:#d42e22;
}

.owl-slider .owl-prev:hover .fa,
.owl-slider .owl-next:hover .fa{
  color: #fff;
}

.owl-slider .item {
	height:500px;
}

/* ----------------------------------------
	Theme Icons
-------------------------------------------*/

.icon-view {
    padding: 15px 15px;
    border: 1px solid #e2e2e2;
	margin-left: -15px;
    margin-right: -16px;
    margin-bottom: -1px;
	color:#212121;
}

.icon-view i {
    font-size: 25px;
    vertical-align: middle;
}

.icon-view code {
    border: 1px solid #e2e2e2;
    margin-left: 2px;
    margin-right: 4px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
	background-color: transparent;
    color: #212121;
	text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 90px);
    overflow: hidden;
}

.icon-view code:hover {
    border-color: #d42e22;
	color:#d42e22;
}

/* ----------------------------------------
	Call to Action
-------------------------------------------*/
.cta-heading-left h3{
  text-align: left; 
  font-size: 5rem; 
  color: #EAE3DA; 
  font-family: Collingar;
  font-weight: 700;
  line-height: 1.4;}

.cta-heading-right{text-align: left;}
.cta-heading-right .content-text{font-size: 18px;color: #EAE3DA; font-weight: 400;line-height: 1.5;}



/* ----------------------------------------
	Swiper nuestros clientes
-------------------------------------------*/

.swiper-button-next,
.swiper-button-prev {
  top: 4.3rem !important;
  color: #333; /* Cambia el color de la flecha según tu diseño */
}

/* Estilos al pasar el mouse sobre las flechas */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #FA4319; /* Cambia el color al pasar el mouse por encima */
}

/* Estilos para el contenedor del slider */
.swiper-container {
  position: relative; /* Asegura que los elementos posicionados internamente sean relativos a este contenedor */
}

/* Estilos para la imagen */
.swiper-slide img {
  border-radius: 25px;
}

/* Estilos para el contenedor del slider */
.swiper-container {
  position: relative;
}

.swiper-card {
  width: 100%;
  height: 100%;
}

.swiper-card-front {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Estilos para el "slide caption" */
.slide-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
  padding: 10px;
  border-radius: 21px;
  background-color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  text-align: center;
  display: none; /* Oculta el "slide caption" por defecto */
  opacity: 0; /* Agrega opacidad inicial */
  transform: translateY(100%); /* Mueve el caption hacia abajo */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Agrega transición suave */
}

/* Muestra el "slide caption" al hacer hover en escritorio */
@media (min-width: 769px) {
  .swiper-card-front:hover .slide-caption {
    display: block;
    opacity: 1; /* Cambia la opacidad al hacer hover */
    transform: translateY(0); /* Muestra el caption */
  }
}

/* Muestra siempre el "slide caption" en móviles */
@media (max-width: 768px) {
  .slide-caption {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
}


